<a href="https://colab.research.google.com/github/AmalRam2002/Learn.py/blob/main/TASK_16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Given index=["India","Pakistan","Bangladesh","Srilanka","china","Nepal"] and data=[1,3,5,np.nan,6,8] . Create a table with the "index" as indices and data as values.

      Expected output

        India         1.0
        Pakistan      3.0
        Bangladesh    5.0
        Srilanka      NaN
        China         6.0
        Nepal         8.0
        Name: myseries, dtype: float64

In [2]:
#please type your answer below this line.
import numpy as np
import pandas as pd
index=["India","Pakistan","Bangladesh","Srilanka","china","Nepal"] 
data=[1,3,5,np.nan,6,8]
print(pd.Series(data,index,name='myseries'))

India         1.0
Pakistan      3.0
Bangladesh    5.0
Srilanka      NaN
china         6.0
Nepal         8.0
Name: myseries, dtype: float64

2. Create a data 'dates' starting from 2021-01-01 with range 6. and create a random 6x4 array and a list=('ABCD').now create a dataframe with 'dates' as index and list as the column and data as the datas of this table.


  Expected output

                        A	       B	      C	      D
    2021-01-01	-0.429358	0.779826	0.389625	0.248792
    2021-01-02	-1.044721	0.272807	-0.370437	1.177273
    2021-01-03	-0.961394	-0.525376	0.120843	0.470060
    2021-01-04	1.842266	-0.551049	0.588390	-0.326937
    2021-01-05	0.986198	0.391301	-0.084837	-0.855573
    2021-01-06	-1.531207	0.905463	-0.099024	0.589219

In [4]:
#please type 
import numpy as np
import pandas as pd
dates = pd.date_range('2021-01-01',periods=6)
ab = pd.DataFrame(np.random.randn(6,4),index=dates, columns=list('ABCD'))
ab

                   A         B         C         D
2021-01-01  0.786128 -0.457430 -0.431449 -2.240489
2021-01-02  0.494634 -3.004802 -0.956855  0.555296
2021-01-03  0.567379 -2.103714  0.527065  0.104776
2021-01-04  0.697870  0.843310 -0.435477  0.546721
2021-01-05  0.410456  1.114158 -0.154433  1.068445
2021-01-06  0.562221 -0.581498 -0.735124 -1.202782