<a href="https://colab.research.google.com/github/AmalRam2002/Learn.py/blob/main/TASK_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Create a dictionary that contains 
            name = Alex Ryder
            age  = 28
Update the age to 32 and another element to the dictionary
            age = 32
            town = calicut
Expected output
            {'name': 'Alex Ryder', 'age': 32, 'town': 'calicut'}

In [30]:
#please enter your answer below this line
data1 ={'name':'Alex Ryder', 'age':28}
data2 ={'age':32,'town':'calicut',}
data1.update(data2)
data1

{'age': 32, 'name': 'Alex Ryder', 'town': 'calicut'}

2. Create a dictionary containing the squares of numbers from 1 to 5.
Expected output
            {1: 1, 2: 4, 3: 9, 4: 16, 5: 15}

From this dictionary remove the item 3 and its square.

Expected output
                    
                {1: 1, 2: 4, 4: 16, 5: 15}

Now remove all items from the dictionary.

Expected output

      {}

Now delete the dictionary itself.

In [20]:
#please enter your answer below this line
numbers={1,2,3,4,5}
squares={1,4,9,16,25}
output=dict(zip(numbers,squares))
output
output.pop(3)
output
output.clear()
output

{}

3. Make a set containing the elements 1, hello, (0,1,2).

Expected output
            
            {'hello', 1, (0, 1, 2)}

Now add the value 6 to the set.

Expected output

        {'hello', 1, (0, 1, 2), 6}

In [32]:
#please enter your answer below the line
set={"hello", 1, (0,1,2)}
set
set.add(6)
set

{(0, 1, 2), 1, 6, 'hello'}